In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df = pd.read_csv("/content/googleplaystore.csv")

General Information About the Dataset

In [ ]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [ ]:
df.describe(include="all")

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [ ]:
df.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [ ]:
df.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [ ]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [ ]:
df.shape

(10841, 13)

total number of app titles contains Astrology

In [ ]:
df.columns #first i needed to look at columns again

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [ ]:
#total number of app titles contains Astrology
sum(df["App"].str.contains("Astrology",case=False))

3

average app ratings

In [ ]:
#average app rating
df["Rating"].mean()

4.193338315362443

Applications that belong to PHOTOGRAPHY Category

In [ ]:
df["Category"].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [ ]:
df[df["Category"] == "PHOTOGRAPHY"].sort_values(by="Rating", ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
5238,Selfie With Champion AJ Style,PHOTOGRAPHY,5.0,2,7.5M,500+,Free,0,Everyone,Photography,"January 8, 2018",1.0,3.2 and up
7127,CB VIDEO VISION,PHOTOGRAPHY,5.0,13,2.6M,100+,Free,0,Everyone,Photography,"September 12, 2017",0.0.2,4.1 and up
9178,i am EB,PHOTOGRAPHY,5.0,1,5.4M,10+,Free,0,Teen,Photography,"February 1, 2017",1.0,4.1 and up
5230,AJ Cam,PHOTOGRAPHY,5.0,44,2.8M,100+,Free,0,Everyone,Photography,"January 23, 2018",1.0,4.1 and up
8281,DC-014,PHOTOGRAPHY,5.0,3,16M,500+,Free,0,Everyone,Photography,"June 14, 2018",1.0.3,4.1 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8939,DV-4036 by Somikon,PHOTOGRAPHY,NaN,17,44M,"1,000+",Free,0,Everyone,Photography,"January 19, 2017",0.0.5,4.3 and up
8941,Touch DV,PHOTOGRAPHY,NaN,1,11M,50+,Free,0,Everyone,Photography,"July 7, 2017",10.4,4.2 and up
9083,Displaying You VR,PHOTOGRAPHY,NaN,1,67M,50+,Free,0,Everyone,Photography,"October 19, 2016",3.0.6.2,4.0 and up
9294,EF Lens Simulator,PHOTOGRAPHY,NaN,2,33M,100+,Paid,$9.99,Everyone,Photography,"February 27, 2017",2.8.3.1,2.2 and up
10311,FD Fotografia,PHOTOGRAPHY,NaN,2,4.2M,100+,Free,0,Everyone,Photography,"January 17, 2018",0.0.9,4.1 and up

In [ ]:
df[df["Category"] == "PHOTOGRAPHY"].mean()

<ipython-input-23-303c31d850e1>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df["Category"] == "PHOTOGRAPHY"].mean()

Rating     4.192114
Reviews         inf
dtype: float64

In [ ]:
df[df["Category"] == "SOCIAL"].mean()

<ipython-input-24-bca1f2430e48>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df["Category"] == "SOCIAL"].mean()

Rating     4.255598
Reviews         inf
dtype: float64

In [ ]:
#which category has highest rank?
df.groupby("Category")["Rating"].mean().sort_values(ascending=False)

Category
1.9                    19.000000
EVENTS                  4.435556
EDUCATION               4.389032
ART_AND_DESIGN          4.358065
BOOKS_AND_REFERENCE     4.346067
PERSONALIZATION         4.335987
PARENTING               4.300000
GAME                    4.286326
BEAUTY                  4.278571
HEALTH_AND_FITNESS      4.277104
SHOPPING                4.259664
SOCIAL                  4.255598
WEATHER                 4.244000
SPORTS                  4.223511
PRODUCTIVITY            4.211396
HOUSE_AND_HOME          4.197368
FAMILY                  4.192272
PHOTOGRAPHY             4.192114
AUTO_AND_VEHICLES       4.190411
MEDICAL                 4.189143
LIBRARIES_AND_DEMO      4.178462
FOOD_AND_DRINK          4.166972
COMMUNICATION           4.158537
COMICS                  4.155172
NEWS_AND_MAGAZINES      4.132189
FINANCE                 4.131889
ENTERTAINMENT           4.126174
BUSINESS                4.121452
TRAVEL_AND_LOCAL        4.109292
LIFESTYLE               4.094904
VIDEO_PLAYERS           4.063750
MAPS_AND_NAVIGATION     4.051613
TOOLS                   4.047411
DATING                  3.970769
Name: Rating, dtype: float64

In [ ]:
#total apps having 5 stars
sum(df["Rating"] == 5)

274

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

Average value of the reviews

In [ ]:
#find average value of reviews
#first we need to convert the datatype of "Reviews" column from object to float64
df["Reviews"].astype("float")

ValueError: ignored

In [ ]:
#ValueError: could not convert string to float: '3.0M'
#first we need to remove '3.0M'. because of that value we cannot change the dtype
df[df["Reviews"]=="3.0M"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [ ]:
df["Reviews"] = df["Reviews"].replace("3.0M",3.0) #with replace method we have changed the value into float and erased 'M' letter.

In [ ]:
df["Reviews"].astype("float") #cconvert the column into float from object

0           159.0
1           967.0
2         87510.0
3        215644.0
4           967.0
           ...
10836        38.0
10837         4.0
10838         3.0
10839       114.0
10840    398307.0
Name: Reviews, Length: 10841, dtype: float64

In [ ]:
df["Reviews"] = df["Reviews"].astype("float").sort_values(ascending=False)

In [ ]:
df["Reviews"].mean()

444111.9265750392

In [ ]:
sum(df["Reviews"].between(10000000,20000000))

55

In [ ]:
data1 = df[df["Reviews"].between(10000000,20000000)][["App","Rating"]].sort_values(by="Rating",ascending=False)

In [ ]:
data1

                                                    App  Rating
1932                                     Shadow Fight 2     4.6
7937                                     Shadow Fight 2     4.6
4568    360 Security - Free Antivirus, Booster, Cleaner     4.6
2090           Minion Rush: Despicable Me Official Game     4.5
3239  Cache Cleaner-DU Speed Booster (booster & clea...     4.5
1970                                        8 Ball Pool     4.5
2050           Minion Rush: Despicable Me Official Game     4.5
378         UC Browser - Fast Download Private & Secure     4.5
2808                                      Google Photos     4.5
2853                                      Google Photos     4.5
2884                                      Google Photos     4.5
3888                                     My Talking Tom     4.5
1893                                            Yes day     4.5
3953                                        8 Ball Pool     4.5
3971        UC Browser - Fast Download Private & Secure     4.5
3975                                            Hay Day     4.5
4036           Minion Rush: Despicable Me Official Game     4.5
5395                                      Google Photos     4.5
8894  Cache Cleaner-DU Speed Booster (booster & clea...     4.5
1908                                     My Talking Tom     4.5
8896  DU Battery Saver - Battery Charger & Battery Life     4.5
1871                                        8 Ball Pool     4.5
1844                                        8 Ball Pool     4.5
1755                                        8 Ball Pool     4.5
1722                                     My Talking Tom     4.5
1703                                        8 Ball Pool     4.5
1694           Minion Rush: Despicable Me Official Game     4.5
1675                                        8 Ball Pool     4.5
420         UC Browser - Fast Download Private & Secure     4.5
1885                                                Pou     4.3
385                                     Viber Messenger     4.3
6449                        BBM - Free Calls & Messages     4.3
4676                                    Viber Messenger     4.3
406                         BBM - Free Calls & Messages     4.3
4115                                            Twitter     4.3
431                                     Viber Messenger     4.3
467                                     Viber Messenger     4.3
3879                                                Pou     4.3
342                                     Viber Messenger     4.3
1702                                                Pou     4.3
3796                                            Twitter     4.3
3739                                            Twitter     4.3
1662                                                Pou     4.3
403                         LINE: Free Calls & Messages     4.2
474                         LINE: Free Calls & Messages     4.2
4122                        LINE: Free Calls & Messages     4.2
468                       Skype - free IM & video calls     4.1
4234                      Skype - free IM & video calls     4.1
3908                                         Pokémon GO     4.1
391                       Skype - free IM & video calls     4.1
1764                                         Pokémon GO     4.1
2610                                           Snapchat     4.0
2603                                           Snapchat     4.0
2550                                           Snapchat     4.0
3870                                           Snapchat     4.0

In [ ]:
df.drop_duplicates(subset=["App"],inplace=True)

In [ ]:
data1.drop_duplicates(subset=["App"],inplace=True)

In [ ]:
data1

                                                    App  Rating
1932                                     Shadow Fight 2     4.6
4568    360 Security - Free Antivirus, Booster, Cleaner     4.6
2090           Minion Rush: Despicable Me Official Game     4.5
3239  Cache Cleaner-DU Speed Booster (booster & clea...     4.5
1970                                        8 Ball Pool     4.5
378         UC Browser - Fast Download Private & Secure     4.5
2808                                      Google Photos     4.5
3888                                     My Talking Tom     4.5
1893                                            Yes day     4.5
3975                                            Hay Day     4.5
8896  DU Battery Saver - Battery Charger & Battery Life     4.5
1885                                                Pou     4.3
385                                     Viber Messenger     4.3
6449                        BBM - Free Calls & Messages     4.3
4115                                            Twitter     4.3
403                         LINE: Free Calls & Messages     4.2
468                       Skype - free IM & video calls     4.1
3908                                         Pokémon GO     4.1
2610                                           Snapchat     4.0

In [ ]:
df[df["Reviews"] > 40000000].sort_values(by="Rating",ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4005,Clean Master- Space Cleaner & Antivirus,TOOLS,4.7,42916526.0,Varies with device,"500,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,Varies with device
1670,Clash of Clans,GAME,4.6,44891723.0,98M,"100,000,000+",Free,0,Everyone 10+,Strategy,"July 15, 2018",10.322.16,4.1 and up
2545,Instagram,SOCIAL,4.5,66577313.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
336,WhatsApp Messenger,COMMUNICATION,4.4,69119316.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
335,Messenger – Text and Video Chat for Free,COMMUNICATION,4.0,56642847.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 1, 2018",Varies with device,Varies with device

In [ ]:
df["Genres"].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'February 11, 2018', 'Strategy;Creativity'], dtype=object)

In [ ]:
data2 = df[(df["Rating"].between(4.0,5.0)) & (df["Reviews"] > 10000000)][["App","Genres","Rating","Reviews"]]

In [ ]:
data2.groupby("Genres")["Rating"].mean()

Genres
Action                       4.600000
Adventure                    4.100000
Arcade                       4.500000
Casual                       4.440000
Casual;Action & Adventure    4.500000
Communication                4.257143
News & Magazines             4.300000
Photography                  4.500000
Social                       4.200000
Sports                       4.500000
Strategy                     4.600000
Tools                        4.600000
Video Players & Editors      4.300000
Name: Rating, dtype: float64

In [ ]:
len(data2)

30

In [ ]:
data2 = data2.drop("Reviews",axis=1)

In [ ]:
data2.head(30)

,App,Genres,Rating
335,Messenger – Text and Video Chat for Free,Communication,4.0
336,WhatsApp Messenger,Communication,4.4
342,Viber Messenger,Communication,4.3
378,UC Browser - Fast Download Private & Secure,Communication,4.5
391,Skype - free IM & video calls,Communication,4.1
403,LINE: Free Calls & Messages,Communication,4.2
406,BBM - Free Calls & Messages,Communication,4.3
1654,Subway Surfers,Arcade,4.5
1655,Candy Crush Saga,Casual,4.4
1660,Clash Royale,Strategy,4.6
1662,Pou,Casual,4.3
1670,Clash of Clans,Strategy,4.6
1675,8 Ball Pool,Sports,4.5
1694,Minion Rush: Despicable Me Official Game,Casual;Action & Adventure,4.5
1722,My Talking Tom,Casual,4.5
1764,Pokémon GO,Adventure,4.1
1893,Yes day,Casual,4.5
1932,Shadow Fight 2,Action,4.6
2544,Facebook,Social,4.1
2545,Instagram,Social,4.5
2550,Snapchat,Social,4.0
2808,Google Photos,Photography,4.5
3239,Cache Cleaner-DU Speed Booster (booster & clea...,Tools,4.5
3665,YouTube,Video Players & Editors,4.3
3739,Twitter,News & Magazines,4.3
3975,Hay Day,Casual,4.5
4005,Clean Master- Space Cleaner & Antivirus,Tools,4.7
4568,"360 Security - Free Antivirus, Booster, Cleaner",Tools,4.6
7536,"Security Master - Antivirus, VPN, AppLock, Boo...",Tools,4.7
8896,DU Battery Saver - Battery Charger & Battery Life,Tools,4.5

In [ ]:
data3 = data2.groupby(["Genres"]).mean().sort_values(by="Rating",ascending=False)
data3.head()

                           Rating  Number of App
Genres
Action                        4.6            NaN
Strategy                      4.6            NaN
Tools                         4.6            NaN
Arcade                        4.5            NaN
Casual;Action & Adventure     4.5            NaN

In [ ]:
data3["Number of App"] = data2.groupby(["Genres"])["Genres"].count()

In [ ]:
data3.head()

                           Rating  Number of App
Genres
Action                        4.6              1
Strategy                      4.6              2
Tools                         4.6              5
Arcade                        4.5              1
Casual;Action & Adventure     4.5              1

In [ ]:
data3.columns

Index(['Rating', 'Number of App'], dtype='object')

In [ ]:
data3.columns = ["Avg Rating", "Number of App"]

In [ ]:
data3

                           Avg Rating  Number of App
Genres
Action                       4.600000              1
Strategy                     4.600000              2
Tools                        4.600000              5
Arcade                       4.500000              1
Casual;Action & Adventure    4.500000              1
Photography                  4.500000              1
Sports                       4.500000              1
Casual                       4.440000              5
News & Magazines             4.300000              1
Video Players & Editors      4.300000              1
Communication                4.257143              7
Social                       4.200000              3
Adventure                    4.100000              1

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, Action to Adventure
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Avg Rating     13 non-null     float64
 1   Number of App  13 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 868.0+ bytes

In [ ]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [ ]:
df["Type"].unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         9660 non-null   float64
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9659 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9652 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(2), object(11)
memory usage: 1.0+ MB

In [ ]:
df[df["Type"].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9148,Command & Conquer: Rivals,FAMILY,NaN,0.0,Varies with device,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device,Varies with device

In [ ]:
df["Type"] = df["Type"].dropna(how="any",axis=0)

In [ ]:
#find total number of free and paid apps
print("Free Apps:",len(df[df["Type"] == "Free"]))
print("Paid Apps:",len(df[df["Type"] == "Paid"]))

Free Apps: 8902
Paid Apps: 756

In [ ]:
#which app has maximum reviews
df[df["Reviews"].max() == df["Reviews"]][["App","Reviews","Rating"]]

           App     Reviews  Rating
2544  Facebook  78158306.0     4.1

In [ ]:
#display top 5 apps have maximum installs
df["Installs"].dtype

dtype('O')

In [ ]:
df["Installs"] = df["Installs"].str.replace(",","")

In [ ]:
df["Installs"]

0           10000+
1          500000+
2         5000000+
3        50000000+
4          100000+
           ...
10836        5000+
10837         100+
10838        1000+
10839        1000+
10840    10000000+
Name: Installs, Length: 9660, dtype: object

In [ ]:
df["Installs"] = df["Installs"].str.replace("+","")

<ipython-input-157-7872ae33284b>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Installs"] = df["Installs"].str.replace("+","")

In [ ]:
df["Installs"]

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 9660, dtype: object

In [ ]:
df["Installs"].astype("int")

ValueError: ignored

In [ ]:
df[df["Installs"] == "Free"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [ ]:
df["Installs"] = df["Installs"].str.replace("Free","0")

In [ ]:
sum(df["Installs"] == "Free")

0

In [ ]:
df["Installs"]=df["Installs"].astype("int")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         9660 non-null   float64
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   int64
 6   Type            9659 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9652 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.0+ MB

In [ ]:
df[df["Installs"].sort_values(ascending=False).head()]

KeyError: ignored

In [ ]:
sorted_df = df.sort_values(by="Installs",ascending=False).head()[["App","Installs","Rating"]]

In [ ]:
sorted_df.sort_values(by="Rating",ascending=False).head()

                            App    Installs  Rating
1654             Subway Surfers  1000000000     4.5
336          WhatsApp Messenger  1000000000     4.4
3117  Maps - Navigate & Explore  1000000000     4.3
340                       Gmail  1000000000     4.3
152           Google Play Books  1000000000     3.9